/*** Spinner Start ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.8s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}

/*** Spinner End ***/

/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: 0.5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn.border-secondary {
  transition: 0.5s;
}

.btn.border-secondary:hover {
  background: var(--bs-secondary) !important;
  color: var(--bs-white) !important;
}

/*** Topbar Start ***/
.fixed-top {
  transition: 0.5s;
  background: var(--bs-white);
  border: 0;
}

.topbar {
  padding: 20px;
  border-radius: 230px 100px;
}

.topbar .top-info {
  font-size: 15px;
  line-height: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.topbar .top-link {
  font-size: 15px;
  line-height: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.topbar .top-link a {
  letter-spacing: 1px;
}

.topbar .top-link a small:hover {
  color: var(--bs-secondary) !important;
  transition: 0.5s;
}

.topbar .top-link a small:hover i {
  color: var(--bs-primary) !important;
}

/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  transition: 0.5s;
}

.navbar {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    transition: 0.5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-secondary);
  color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  border-radius: 10px !important;
  transition: 0.5s;
  opacity: 1;
}

#searchModal .modal-content {
  background: rgba(255, 255, 255, 0.8);
}

/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(248, 223, 173, 0.1),
      rgba(248, 223, 173, 0.1)),
    url(../pexels-photo-1126993.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  position: relative;

}

.carousel-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
  width: 28px;
  height: 28px;
  border-radius: 48px;
  border: 1px solid var(--bs-white);
  /* background: var(--bs-primary); */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-next {
  margin-right: 20px;
}

.carousel-control-prev {
  margin-left: 20px;
}

.page-header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/anh_clothes.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {

  .hero-header,
  .page-header {
    margin-top: 152px !important;
  }
}

@media (max-width: 992px) {

  .hero-header,
  .page-header {
    margin-top: 97px !important;
  }
}

/*** Hero Header end ***/

/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
  position: relative;
  width: 120px;
  height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background: var(--bs-secondary);
  position: absolute;
  bottom: -10px;
  transform: translate(-50%);
  transform: rotate(45deg);
  background: var(--bs-secondary);
}

/*** featurs End ***/

/*** service Start ***/
.service .service-item .service-content {
  position: relative;
  width: 250px;
  height: 130px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*** service End ***/

/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
  background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
  color: var(--bs-white) !important;
}

.fruite .fruite-categorie .fruite-name {
  line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
  transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
  color: var(--bs-secondary);
}

.fruite .fruite-item {
  height: 100%;
  transition: 0.5s;
}

.fruite .fruite-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
  /* them xem nhanh */
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
  transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
  transform: scale(1.3);
}

/* Bố trí cho nút "Xem nhanh" */
.btn-quick-show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  background-color: rgba(0, 123, 255, 0.7);
  /* Màu nền có độ trong suốt */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

/* Hiện nút ở chính giữa khi hover vào ảnh */
.fruite .fruite-item .fruite-img:hover .btn-quick-show {
  visibility: visible;
  opacity: 1;
}

/*** Fruits End ***/

/*** vesitable Start ***/
.vesitable .vesitable-item {
  width: 500px;
  height: 100%;
  transition: 0.5s;
}

.vesitable .vesitable-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
  /* them xem nhanh */
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

/* Bố trí cho nút "Xem nhanh" */
.btn-quick-show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  background-color: rgba(0, 123, 255, 0.7);
  /* Màu nền có độ trong suốt */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

/* Hiện nút ở chính giữa khi hover vào ảnh */
.vesitable .vesitable-item .vesitable-img:hover .btn-quick-show {
  visibility: visible;
  opacity: 1;
}

.vesitable .vesitable-item .vesitable-img img {
  transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
  transform: scale(1.2);
}

.vesitable .owl-stage {
  margin: 50px 0;
  position: relative;
}

.vesitable .owl-nav .owl-prev {
  position: absolute;
  top: -8px;
  right: 0;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.vesitable .owl-nav .owl-prev:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
  position: absolute;
  top: -8px;
  right: 88px;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

/*** vesitable End ***/

/*** Banner Section Start ***/
.banner .banner-btn:hover {
  background: var(--bs-primary);
}

/*** Banner Section End ***/

/*** Facts Start ***/
.counter {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
  font-size: 60px;
  margin-bottom: 25px;
}

.counter h4 {
  color: var(--bs-primary);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.counter h1 {
  margin-bottom: 0;
}

/*** Facts End ***/

/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
  position: absolute;
  top: -58px;
  right: 0;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
  position: absolute;
  top: -58px;
  right: 88px;
  color: var(--bs-primary);
  padding: 5px 25px;
  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
  background: var(--bs-secondary);
  color: var(--bs-white);
}

/*** testimonial End ***/

/*** Single Page Start ***/
.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--bs-dark);
  padding: 10px 16px;
  text-decoration: none;
  transition: 0.5s;
  border: 1px solid var(--bs-secondary);
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--bs-primary);
  color: var(--bs-light);
  border: 1px solid var(--bs-secondary);
}

.pagination a:hover:not(.active) {
  background-color: var(--bs-primary);
}

.nav.nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--bs-secondary) !important;
}

/*** Single Page End ***/

/*** Footer Start ***/
.footer .footer-item .btn-link {
  line-height: 35px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
  color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
  line-height: 35px;
}

/*** Footer End ***/

/* xem chi tiết sản phẩm */
.option-product {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.option-list {
  display: inline-block;
}

.option-list p {
  display: inline-block;
  padding: 7px 4px;
  min-width: 70px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #bdbfbe;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.option-list p:hover {
  background-color: #bdbfbe;
}

.btn-size-guide {
  font-size: 14px;
  color: #252a2b;
  font-weight: 500;
  margin-bottom: 5px;
  border: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.btn-size-guide span {
  font-size: 14px;
  color: #252a2b;
  font-weight: 500;
  padding: 2px;
  margin-bottom: 5px;
  border: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
  text-decoration: underline;
}

.modal-body {
  overflow-y: hidden !important;
}

.modal-body img {
  object-fit: contain;
}

.zoom-container {
  overflow: hidden;
  position: relative;
}

/* zoom ảnh */
.zoom-image {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoom-container:hover .zoom-image {
  transform: scale(4);
  /* Phóng to ảnh gấp 2 lần */
  cursor: zoom-out;
}

.zoom-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.zoom-image {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoom-container:hover .zoom-image {
  transform: scale(2);
  /* Phóng to ảnh */
  cursor: zoom-out;
}

.zoom-container:hover {
  overflow: hidden;
}

/* more des */
.desc-content-js {
  max-height: 230px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.show-more-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Thêm hiệu ứng zoom vào ảnh khi hover */
.card-img-top {
  transition: transform 0.3s ease-in-out;
  /* Thêm hiệu ứng mượt mà */
}

.card-img-top:hover {
  transform: scale(1.1);
  /* Tăng kích thước ảnh lên 10% khi hover */
}

/* Đảm bảo nút tăng/giảm có kích thước giống nhau */
#decreaseQty,
#increaseQty {
  width: 40px;
  height: 40px;
}

.image-container {
  width: 100%;
  height: 400px;
  /* Cố định chiều cao */
  overflow: hidden;
  /* Cắt bỏ phần ảnh thừa */
  display: flex;
  /* Căn giữa ảnh */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  justify-content: center;
  /* Căn giữa theo chiều ngang */
}

.image-container img {
  width: 100%;
  /* Chiều rộng 100% */
  height: 100%;
  /* Chiều cao 100% khớp với container */
  object-fit: cover;
  /* Ảnh sẽ được cắt để vừa khớp */
  object-position: center;
  /* Căn giữa ảnh */
}

.footer-item {
  display: flex;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  gap: 10px;
  /* Khoảng cách giữa nội dung và ảnh */
}

.footer-item .content {
  width: 50%;
  /* Chiếm 50% chiều ngang */
}

.footer-item .image {
  width: 50%;
  display: flex;
  justify-content: center;
  /* Canh giữa hình ảnh */
  align-items: center;
  /* Canh giữa hình ảnh theo chiều dọc */
}

.footer-item .image img {
  max-width: 200px;
  /* Giới hạn chiều rộng tối đa */
  max-height: 200px;
  /* Giới hạn chiều cao tối đa */
  width: auto;
  /* Giữ nguyên tỷ lệ của hình ảnh */
  height: auto;
  /* Giữ nguyên tỷ lệ của hình ảnh */
  object-fit: contain;
  /* Đảm bảo hình ảnh không bị cắt, giữ nguyên tỷ lệ */
}

/* Đảm bảo slider chiếm đầy chiều rộng của trang */

/* Đảm bảo rằng slider chiếm đầy chiều rộng của trang */
.owl-carousel .item {
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Thêm bóng cho các ảnh */
}

.owl-carousel .item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Giữ tỷ lệ ảnh */
  border-radius: 8px;
  /* Làm góc của ảnh tròn */
}

.owl-carousel {
  margin-top: 20px;
}

.nav-link {
  color: #000;
  /* Màu mặc định */
  transition: color 0.3s ease, border-color 0.3s ease;
  /* Hiệu ứng chuyển màu */
}

.nav-link.active {
  color: #007bff;
  /* Màu khi được chọn */
  font-weight: bold;
  /* Làm đậm chữ */
  border-bottom: 2px solid #007bff;
  /* Gạch chân trang được chọn */
}